:root{
    /* ------colors------ */
    --light-black: #00000091;
    --blue-color: #2C49FE;
    --sky-blue: #01C8FF;
    --black-color: #000000;
    --white-color: #FFFFFF;

   /* ------- font-size------ */
   --text-base:14px;
   --text-base-1:12px;
   --text-sm:16px;
   --text-sm-1:18px;
   --text-md:20px;
   --text-lg:36px;
   --text-xl:48px;
   --text-2xl:64px;
   --text-md-2:25px;
   --text-lg-1:35px;
}
.bg-light-black{
    background:var(--light-black);
}
.fc-black {
    color: var(--black-color);
}
.fc-blue{
    color: var(--blue-color);
}
.bg-blue {
    background: var(--blue-color);
}
.fc-sky-blue{
    color: var(--sky-blue);
}
.fc-white{
    color:var(--white-color)
}
.bg-white{
    background: var(--white-color);
}
.fs-base {
    font-size: var(--text-base);
}
.fs-base-1 {
    font-size: var(--text-base-1);
}
.fs-sm{
    font-size: var(--text-sm);
}
.fs-sm-1 {
    font-size: var(--text-sm-1);
}
.fs-md {
    font-size: var(--text-md);
}.fs-lg {
    font-size: var(--text-lg);
}

.fs-lg-1 {
    font-size: var(--text-lg-1);
}
.fs-md-2 {
    font-size: var(--text-md-2);
}
.fs-xl {
    font-size: var(--text-xl);
}
.fs-2xl {
    font-size: var(--text-2xl);
}