@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url(/assets/css/root.css);

.font-family {
    font-family: "Poppins", sans-serif;
}

.font-family-1 {
    font-family: "Yantramanav", sans-serif;
}

.lh-48 {
    line-height: 48.6px;
}

.lh-65 {
    line-height: 65.52px;
}

.lh-25 {
    line-height: 25.94px;
}

.lh-52 {
    line-height: 52.5px;
}

.lh-27 {
    line-height: 27px;
}

.lh-21 {
    line-height: 21px;
}

.lh-36 {
    line-height: 36px;
}

.lh-62 {
    line-height: 62.4px;
}

.lh-37 {
    line-height: 37.5px;
}

.lh-24 {
    line-height: 24px;
}

.lh-72 {
    line-height: 72px;
}

.lh-30 {
    line-height: 30px;
}

.lh-96 {
    line-height: 96px;
}

.lh-26 {
    line-height: 26px;
}

.lh-18 {
    line-height: 18px;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-size: 600;
}

.hero-bg-img {
    background-image: url(/assets/images/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    opacity: 57px;
    top: 0;
    left: 0;
}

.bg-black {
    background: var(#00000091);
}

.min-vh-100 {
    min-height: 100vh;
}

.py-17 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.max-w-1320 {
    max-width: 1320px;
}

.text-decroation {
    text-decoration: none;
}

.gap-60 {
    gap: 60px;
}

.btn {
    border-radius: 23px;
    padding: 11px 28px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: #fff;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.mt-60 {
    margin-top: 60px;
}

.mt-100 {
    margin-top: 100px;
}

.max-w-1044 {
    max-width: 1044px;
}

.max-w-765 {
    max-width: 765px;
}

.btn-radius {
    border-radius: 28px;
}

.gap-23 {
    gap: 23px;
}

.max-w-962 {
    max-width: 962px;
}

.big-btn {
    border-radius: 150px;
    background: #2C49FEBD;
    padding: 17px;
    border: none;
}

.gap-50 {
    gap: 50px;
}

.gap-17 {
    gap: 17px;
}

.border {
    border: 3px solid var(--white-color);
    margin-right: 70px;
}

.oppicity {
    opacity: 70%;
}

.btn-1 {
    padding: 20px 39px;
    border-radius: 150px;
}

/* --------------section-1------------------ */
.color-border {
    width: 189px;
    height: 8px;
    background: #2C49FE;

}
/* .card:hover{
    color: #fff;
    background: #2C49FE;
} */

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.card {
    max-width: 260px;
    border: 1px solid #2C49FE;
    border-radius: 5px;
    padding: 40px 40px 20px 40px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.circle {
    width: 79px;
    height: 79px;
    top: -40px;
    transform: translateX(90px);
    border-radius: 50px;
    border: 2px solid #2C49FE;
    background: var(--white-color);
    z-index: 1;
}

.circle-1 {
    top: -40px;
    transform: translateX(0px);
}

.text-center {
    text-align: center;
}

.gap-30 {
    gap: 30px;
}

.max-w-590 {
    max-width: 590px;
}

.max-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-40 {
    margin-top: 40px;
}

/* -------------------------section-2--------------- */
.bg-girl {
    background-image: url(/assets/images/girl.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: #2C49FECC;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.max-w-708 {
    max-width: 708px;
}

/* -------------------section-3------------- */
.max-w-543 {
    max-width: 543px;
}

/* Group 24 */
.card-1 {
    max-width: 339px;
    height: 354px;
    padding: 10px;
}

.card-1:hover {
    box-shadow: 2px 9px 32px 0px #0000000F;
    border-radius: 5px;
    background-color: var(--white-color);
}

.max-w-270 {
    max-width: 270px;
}

.pl-10 {
    padding-left: 10px;
}

.gap-16 {
    gap: 16px;
}

input [type="text"],
[id="fn"],
[id="ln"],
[id="password"] {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 279px;
    font-size: 16px;
    border: 1px solid #00000066;
    line-height: 24px;
    border-radius: 5px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 16px;
}

input [type="email"],
[id="email"] {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 574px;
    font-size: 16px;
    border: 1px solid #00000066;
    line-height: 24px;
    border-radius: 5px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 16px;
}

input [type="textarea"],
[id="message"] {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 574px;
    min-height: 154px;
    font-size: 16px;
    border: 1px solid #00000066;
    line-height: 24px;
    border-radius: 5px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.7);
}

.btn-width {
    width: 574px;
    border: none;
}

/* ------------------------footer------------------- */
.max-w-346 {
    max-width: 346.18px;
}

.pt-11 {
    padding-top: 11px;
}

.show-box {
    background: #2D3CAE87;
    padding: 30px;
    height: 62px;

}

.justify {
    justify-content: space-between;
}

.space {
    margin-top: 0;
}

.display {
    display: flex;
}

@media(max-width:1199.98px) {
    .justify {
        justify-content: none;
    }

    .max-w-543 {
        max-width: none;
    }

    input[type="text"],
    [id="fn"],
    [id="ln"],
    [id="password"],
    .btn-width {
        width: 100%;
    }

    input [type="email"],
    [id="email"],
    .input [type="textarea"],
    [id="message"] {
        width: 100%;
    }

    .center {
        text-align: center;
    }
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        backdrop-filter: blur(100px) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

    .lh-48 {
        line-height: 42.6px;
    }

    .lh-65 {
        line-height: 60.52px;
    }

    .lh-25 {
        line-height: 21.94px;
    }

    .lh-52 {
        line-height: 45.5px;
    }

    .lh-27 {
        line-height: 22px;
    }

    .lh-21 {
        line-height: 17px;
    }

    .lh-36 {
        line-height: 28px;
    }

    .lh-62 {
        line-height: 52.4px;
    }

    .lh-37 {
        line-height: 31.5px;
    }

    .lh-24 {
        line-height: 20px;
    }

    .lh-72 {
        line-height: 63px;
    }

    .lh-30 {
        line-height: 25px;
    }

    .lh-96 {
        line-height: 80px;
    }

    .lh-26 {
        line-height: 22px;
    }

    .lh-18 {
        line-height: 15px;
    }
}

@media(max-width:767.98px) {

    .top-margin {
        margin-top: 50px;
    }

}

@media(max-width:565.98px) {



    .display {
        display: flex !important;
        flex-direction: column;
    }

}